body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  min-height: 100vh;
}
/*NAVBAR*/
.navbar-container {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: end;
  width: 100%;
  /* margin-left: 33%; */

}

.navbar-items {
  padding:0;
}
.navbar-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.navbar-container li {
  margin-left: 3rem;
  margin-right: 3rem;
  list-style: none;
  display: flex;
  align-items: center;
}
.lnk-home a,
.lnk-projects a {
  border-radius: 12px;
  border-color: #74c69d;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  min-width: 10%;
  text-decoration: none;
  color: #1b4332;
}
.lnk-home a:hover,
.lnk-contact:hover,
.lnk-projects :hover {
  background-color: #74c69d;
  transition: 0.3s ease background;
  color: #1b4332;
}
.lnk-contact a,
.btn-cv a
/* .btn-projects a,
.btn-projects-github a*/
{
  border-radius: 12px;
  border-color: #74c69d;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s ease background;
  min-width: 10%;
  color: white;
  text-decoration: none;
  min-width: 20%;
  font-size: 14px;
}
/* HOME */
.hi-there {
  font-family: "Courier New", Courier, monospace;
}
.name {
  font-size: 40px;
}
.presentation p,
h1,
h3 {
  color: #1b4332;
}
.text-work {
  font-size: 28px;
  color: #1b4332;
}
.container-logos {
  max-width: 100%;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-logos {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}
.container-images-home {
  display: flex;
  justify-content: center;
}
.container-images-home img {
  max-width: 4rem;
  height: auto;
  margin-right: 2rem;
  margin-left: 2rem;
}
.container-btn-cv {
  display: flex;
  justify-content: center;
}
.email-contact {
  color: #1b4332;
  font-size: 18px;
}
.btn-cv,
.lnk-contact {
  background: #1b4332;
  border-radius: 12px;
  border-color: #74c69d;
  cursor: pointer;
  display: inline-block;
  font-size: 2vw;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: 0.3s ease background;
  min-width: 10%;
}
button:hover,
.btn-cv a:hover,
.lnk-contact a:hover,
.btn-contact a:hover,
.btn-projects-github a:hover,
.btn-projects a:hover {
  background: #74c69d;
  color: #1b4332;
  transition: 0.3s ease background;
}
.presentation {
  background-color: #74c69d;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px #1b4332;
  line-height: 25px;
  /* text-align: justify; */
  margin: 3rem;
  max-width: 100%;
  padding: 2rem;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.letter-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* PROJECTS & CONTACTS */
.container-projects,
.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-projects {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 66%;
}


.container-buttons-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.btn-projects,
.btn-projects-github {
  background: #1b4332;
  border-radius: 12px;
  border-color: #74c69d;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 2vw;
  padding: 8px 16px;
  position: relative;
  transition: 0.3s ease background;
  width: 50%;
}

.btn-projects a,
.btn-projects-github a {
  border-radius: 12px;
  border-color: #74c69d;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: 0.3s ease background;
  color: white;
  text-decoration: none;

}

.btn-contact {
  background: #1b4332;
  border-radius: 12px;
  border-color: #74c69d;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: 0.3s ease background;
  min-width: 15%;
}
.btn-contact a {
  color: white;
  text-decoration: none;
}



.card-body {
  text-align: center;
  background-color: #fefbf3;
}

.card {
  box-shadow: #74c69d 0px 5px 25px;
  /* width: 66%; */

}

.card-text p {
  /* font-size: 2vw; */
  padding: 0 5% 0 5%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.title-projects,
.title-contact {
  margin: 3rem 3rem 0 3rem;
  font-size: 5vw;
  color: #1b4332;
  display: flex;
  justify-content: center;
}
.card-title {
  color: #1b4332;
  font-size: 2vw;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


}

@media only screen and (max-width: 640px) {
  .navbar-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .navbar-container ul {
    flex-direction: column;
  }

  .navbar-container il {
    margin: 0.8em 0;
  }


}

/* @media (max-width: 640px) {
  .container {
    text-align: center;
  }

  .container-nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.8em 0;
  }
} */
