body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  min-height: 100vh;

}

/*NAVBAR*/

.navbar{
  background-color: #1b4332;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

ul{
  display: flex;
  flex-direction: row;
}

li{
  margin-left: 3rem;
  margin-right: 3rem;
  list-style: none;
  display: flex;
  align-items: center;
}

li a {
  margin: 0 1rem;
  color:#74c69d;
  padding: 0.5rem 1.5rem;
  /* border: 1px solid white; */
  /* border-radius: 2rem; */
  transition: 0.35s;
  text-decoration: none;
}

li a:hover {
  box-shadow: 0 0 10px 2px white,
    inset 0 0 10px 2px white;
}

/* HOME */
.hi-there {
  font-family: 'Courier New', Courier, monospace;
}
.name {
  font-size: 40px;
}

/* .profession{
  color: #74c69d;
} */
.presentation p {
  color: white;
}

.presentation h1, h3 {
  color: #74c69d ;
}

.btn-cv{
  background: #1b4332;
  border-radius: 12px;
  border-color: #74c69d ;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  /* text-transform: uppercase; */
  transition: 0.3s ease background;
  min-width: 10%;
}

.btn-cv a{
  color:white;
  text-decoration: none;
}

button:hover {
  background: #74c69d ;
  color: #fff;
  transition: 0.3s ease background;
}

.presentation {
  
  background-color: #1b4332;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px #74c69d;
  line-height: 25px;
  text-align: justify;
  margin:3rem;
  margin-top: 8rem;
  max-width:30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  
}

@font-face {
  font-family: "Pixel";
  src: url('./font/Pixel-LCD-7.woff');
}

